@{
    int count = 0;
}
@model IEnumerable<www.Models.Content>
@if (Model != null && Model.Count() > 0)
{
    <h2><a href="@ViewBag.Url">Tư tưởng, đạo đức, phong cách Hồ Chí Minh</a></h2>
    <div class="box-body">
        <div class="box1">
            @foreach (var item in Model)
            {
                count++;
                if (count == 1)
                {
                    <div class="item-first">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="thumbnail">
                                    <img src="@item.thumbnail" alt="@item.name" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="title">
                                    <a href="@item.alias" title="@item.name">
                                        @Html.Raw(item.name)
                                    </a>
                                </div>
                                <div class="description">
                                    @Html.Raw(item.description)
                                </div>
                            </div>
                        </div>


                    </div>
                }
                else
                {
                    <div class="line">
                        <div class="item">
                            <i class="fa fa-caret-right"></i>
                            <a href="@item.alias" title="@item.name">
                                @Html.Raw(item.name)
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
