@{
    int count = 0;
}
@model IEnumerable<ClassLibrary.Models.Content>
@if (Model != null && Model.Count() > 0)
{
    <h2><a href="@ViewBag.Url">Chuyên môn nghiệp vụ</a></h2>
    <div class="box-body">
        <div class="box4">
            @foreach (var item in Model)
            {
                count++;
                if (count == 1)
                {
                    <div class="item">
                        <div class="thumbnail">
                            <img src="@item.thumbnail" alt="@item.name" />
                        </div>
                        <div class="title">
                            <a href="@item.alias" title="@item.name">
                                @Html.Raw(item.name)
                            </a>
                        </div>
                        <div class="description">
                            @Html.Raw(item.description)
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="title">
                            <i class="fa fa-caret-right"></i>
                            <a href="@item.alias" title="@item.name">

                                @Html.Raw(item.name)
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
