@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model www.Models.Content
@if (Model != null)
{
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="breadcrumb">
                @Html.Action("getBreadcrumb", "Home", new { pageUrl = Model.alias })
            </div>
            @if (Model.contentKey.StartsWith("ChuyenMucTinTuc"))
            {
                <div class="page-content">
                    @Html.Action("getChildDisplay", "Home", new { Id = Model.contentId, _url = Model.alias })
                    @Html.Raw(Model.contentMain)
                </div>
            }
            else if (Model.contentKey.StartsWith("CHUYENMUCMEDIA"))
            {
                <div class="page-content">
                    @Html.Action("getChildDisplayMedia", "Home", new { Id = Model.contentId, _url = Model.alias })
                    @Html.Raw(Model.contentMain)
                </div>
            }
            else if (Model.contentKey.StartsWith("DONVIPHONGKHOA"))
            {
                <div class="page-content">
                    @Html.Action("childrenLichCongTac", "Home", new { Id = Model.contentId })
                    @Html.Action("LichCongTacChildren", "Home", new { Id = Model.contentId, _url = Model.alias })
                </div>
            }
            else if (Model.contentKey.StartsWith("CHUYENMUCTAILIEU"))
            {
                <div class="page-content">
                    @Html.Action("ViewVanBan", "Home", new { Id = Model.contentId, _url = Model.alias })
                </div>
            }
            else
            {
                <div class="page-content">
                    <h1 class="page-title">@Model.name</h1>
                    <div class="date-post text-right">
                        <i>@Model.ngayDang.ToString("dd") Tháng @Model.ngayDang.ToString("MM") Năm @Model.ngayDang.ToString("yyyy") / @Model.isView lượt xem </i>
                    </div>
                    @if (Model.contentKey == "Video")
                    {
                    <video class="video-js" controls preload="auto" poster="@Model.thumbnail" data-setup="{}">
                        <source src="/FileVideo/@Model.description" type="video/mp4" />
                        <source src="/FileVideo/@Model.description" type="video/m4v" />
                        <source src="/FileVideo/@Model.description" type="video/mpeg" />
                        <source src="/FileVideo/@Model.description" type="video/ogg" />
                        <source src="/FileVideo/@Model.description" type="video/quicktime" />
                        <source src="/FileVideo/@Model.description" type="video/webm" />
                        <source src="/FileVideo/@Model.description" type="video/x-ms-wmv" />
                        <p class="vjs-no-js">
                            Hỗ trợ: 0946.236.687
                        </p>
                    </video>
                    }
                    <div class="content">
                        @Html.Raw(Model.contentMain)
                    </div>
                    @Html.Action("getOption", "Home", new { Id = Model.contentId })
                    <div style="float:left;width:100%; text-align:right; padding:30px 0px">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5da1d303ffcfeb25"></script>
                        <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
                    </div>
                    @Html.Action("BaiVietMoi", "Home")
                </div>
            }
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 cssleft">
            @Html.Action("TuTuongDaoDuc", "Home")

            @Html.Action("BaiVietXemNhieu", "Home")
            <div class="clearfix30">
            </div>
            @Html.Action("_HitCounter", "Home")
        </div>
    </div>
}
else
{
    @Html.Action("Index", "Home")
}

@section scripts {
    <script>

    </script>
}


