
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 box">
        @Html.Action("Box1", "Home")
    </div>
    <div class="col-lg-4 col-md-4  col-sm-12 box">
        @Html.Action("Box2", "Home")
    </div>
</div>
<div class="clearfix30">
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 box">
        @Html.Action("Box3", "Home")
    </div>
    <div class="col-lg-4 col-md-4  col-sm-12 box">
        @Html.Action("Box4", "Home")
    </div>
    <div class="col-lg-4 col-md-4  col-sm-12 box">
        @Html.Action("Box5", "Home")
    </div>
</div>
<div class="clearfix30">
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 box">
        @Html.Action("Box6", "Home")
    </div>
</div>
<div class="clearfix30">
</div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 box">
        @Html.Action("Box7", "Home")
        <div class="clearfix30">
        </div>
        @Html.Action("Box8", "Home")
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 box">
    </div>
</div>