@model IEnumerable<ClassLibrary.Models.Content>
@if (Model != null && Model.Count() > 0)
{
    <div class="tu-tuong-dao-duc">
        <h2><a href="@ViewBag.Url">Tư tưởng, đạo đức, phong cách Hồ Chí Minh</a></h2>
        <div class="box-body">
            @foreach (var item in Model)
            {
                <div class="item">
                    <a href="@item.alias" title="@item.name">
                        @if (item.name.Length > 120)
                        {
                            @Html.Raw(item.name.Substring(0, 120) + "...")
                        }
                        else
                        {
                            @Html.Raw(item.name)
                        }
                    </a>
                </div>
            }
        </div>
    </div>
}


