<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bxslider_jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/lightbox.css" rel="stylesheet" />
    <link href="~/Content/magnify.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div id="navbar">
            <div class="time desktop">
                <span>
                    <i class="fa fa-clock-o"></i> Mở cửa tất cả các ngày trong tuần (Trừ chiều thứ 2) Mùa đông: Sáng: 8h - 11h. Chiều: 13h30 - 16h / Mùa hè: Sáng: 7h30 - 11h. Chiều: 13h30 - 16h
                </span>
            </div>
            <div class="day-now desktop">
                @Html.Action("NgayThang", "Home")
            </div>
            <div class="time mb">
                <span>
                    <i class="fa fa-clock-o"></i> Mở cửa tất cả các ngày trong tuần (Trừ chiều thứ 2) Mùa đông: Sáng: 8h - 11h. Chiều: 13h30 - 16h / Mùa hè: Sáng: 7h30 - 11h. Chiều: 13h30 - 16h
                </span>
            </div>
            <div class="navbar navbar-inverse desktop">
                <div class="navbar-collapse">
                    @Html.Action("MainMenu2", "Home")
                    <div class="search-header">
                        <div class="body">
                            <input type="text" id="search-text" name="search-text" placeholder="Tìm kiếm..." />
                            <span class="fa fa-search"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider">
            <img src="../Content/slider-main.jpg" alt="slider" />
        </div>
        <div class="navbar navbar-inverse mb">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <div class="search-header">
                    <div class="body">
                        <input type="text" id="search-text" name="search-text" placeholder="Tìm kiếm..." />
                        <span class="fa fa-search"></span>
                    </div>
                </div>
                @Html.Action("MainMenu2", "Home")
            </div>
        </div>
        <div class="body-content">
            @RenderBody()
            <div class="clearfix30">
            </div>
            <footer>
                <p>Bản quyền thuộc: <b>Khu di tích Chủ tịch Hồ Chí Minh tại Phủ Chủ Tịch </b></p>
                <p>Địa chỉ: <b>Số 1 - Hoàng Hoa Thám (cổng Đỏ) - Ba Đình - Hà Nội </b></p>
                <p>Điện thoại: <b>08 044 287 - 08 043 315 </b>, Fax: <b>08 043 064</b></p>
                <p>Email: nhasanbacho.pct@gmail.com</p>
                <div class="clearfix30">
                </div>
                <p>Khu di tích mở cửa tất cả các ngày trong tuần (trừ chiều thứ 2)</p>
                <p>Mùa đông: Sáng: 8h - 11h. Chiều: 13h30 - 16h</p>
                <p>Mùa hè: Sáng: 7h30 - 11h. Chiều: 13h30 - 16h</p>
                <p>Liên hệ đăng ký đoàn tham quan: <b>08 043 226</b> (Phòng Tuyên truyền, Giáo dục) - <b>08 044 287</b> (Phòng Hành chính, Tổng hợp)</p>
            </footer>
            <div class="icon-main">
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/owl.carousel.min.js"></script>
    @*<script src="~/Scripts/html5gallery/html5gallery.js"></script>*@
    <script src="~/Scripts/bxslider_jquery.bxslider.min.js"></script>
    <script src="~/Scripts/jquery.cycle.all.js"></script>
    <script src="~/Scripts/lightbox-2.6.js"></script>
    <script src="~/Scripts/jquery.magnify.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        window.onscroll = function () { myFunction() };

        // Get the navbar
        var navbar = document.getElementById("navbar");

        // Get the offset position of the navbar
        var sticky = navbar.offsetTop;
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
        $('#search-text').keyup(function (e) {
            if (e.keyCode == 13) {
                window.location.href = "tim-kiem?searchKey=" + $('#search-text').val();
            }
        });

        $(window).ready(function () {

            $('.featured-posts .right').html('');
            $('.featured-posts .left .slides').cycle({
                fx: 'scrollHorz', speed: 500, timeout: 0, pager: '.featured-posts .right', pagerEvent: 'mouseover', pauseOnPagerHover: true,
                pagerAnchorBuilder: function (idx, slide) { return $('<div>').append($(slide).find('.title').clone()).html(); }
            });
            $('.featured-posts .right a').unbind('click');
            $('.featured-posts .left').css('visibility', 'visible');

            $('.open-thu-vien .right').html('');
            $('.open-thu-vien .left .slides').cycle({
                fx: 'scrollHorz', speed: 500, pager: '.open-thu-vien .right', pagerEvent: 'mouseover', pauseOnPagerHover: true,
                pagerAnchorBuilder: function (idx, slide) { return $('<div>').append($(slide).find('.title').clone()).html(); }
            });
            $('.open-thu-vien .right a').unbind('click');
            $('.open-thu-vien .left').css('visibility', 'visible');

            $('.cam-tuong .right').html('');
            $('.cam-tuong .left .slides').cycle({
                fx: 'scrollHorz', speed: 500, pager: '.cam-tuong .right', pagerEvent: 'mouseover', pauseOnPagerHover: true,
                pagerAnchorBuilder: function (idx, slide) { return $('<div>').append($(slide).find('.title').clone()).html(); }
            });
            $('.cam-tuong .right a').unbind('click');
            $('.cam-tuong .left').css('visibility', 'visible');

            $(".wrapper-gallery-slider").each(function () {
                var $this = $(this),
                    owl = $this.find('.gallery-slider');
                owl.owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    dots: false,
                    navText: ['<i class="fa fa-caret-left"></i>', '<i class="fa fa-caret-right"></i>'],
                    responsive: {
                        0: { items: 3, margin: 5 },
                        600: { items: 3, margin: 5 },
                        1000: { items: 3 }
                    }
                })
            });
            $(".wrapper-video-slider").each(function () {
                var $this = $(this),
                    owl = $this.find('.video-slider');
                owl.owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    dots: false,
                    navText: ['<i class="fa fa-caret-left"></i>', '<i class="fa fa-caret-right"></i>'],
                    responsive: {
                        0: { items: 1 },
                        600: { items: 1 },
                        1000: { items: 1 }
                    }
                })
            });
            $('.video-slider .owl-next').on('click', function () {
                $('.vid').each(function () {
                    $(this).get(0).pause();
                });
            });
            $('.video-slider .owl-prev').on('click', function () {
                $('.vid').each(function () {
                    $(this).get(0).pause();
                });
            });
            $(".wrapper-noi-bat-slider").each(function () {
                var $this = $(this),
                    owl = $this.find('.noi-bat-slider');
                owl.owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    dots: false,
                    autoplay: true,
                    autoplayTimeout: 5000,
                    autoplayHoverPause: true,
                    navText: ['<i class="fa fa-caret-left"></i>', '<i class="fa fa-caret-right"></i>'],
                    responsive: {
                        0: { items: 1 },
                        600: { items: 1 },
                        1000: { items: 1 }
                    }
                })
            });

            $('.weblinks-box').bxSlider({ mode: 'vertical', minSlides: 6, auto: true, speed: 1000, pager: false });

            $(".wrapper-img-slider").each(function () {
                var $this = $(this),
                    owl = $this.find('.img-slider');
                owl.owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    dots: false,
                    navText: ['<i class="fa fa-caret-left"></i>', '<i class="fa fa-caret-right"></i>'],
                    responsive: {
                        0: { items: 1 },
                        600: { items: 1 },
                        1000: { items: 1 }
                    }
                })
            });
        });
    </script>
</body>
</html>
